<!DOCTYPE html>
<html>
	<head>
		<title>MUSEUM HOME</title>
		<script src="https://kit.fontawesome.com/c0ed402f99.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="style.css">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcCVa1BBGZDamToAUr7UIotPH9E1OsAWQ&v=beta&libraries=marker&callback=initMap"></script>
	</head>
	<body>
		<div class="top">
		<h1> Museum </h1>
			<p>박물관 검색하는 사이트 입니다.</p>
		</div>
		
		<form class ="search">
			<input type="text" name="text" id="text" >
			<button type="button"> 검색 </button>
		</form>
		
		<div id="map"></div>
	
	<script type="text/javascript">

        let marker;

        function initMap() {

            const center = { //위도, 경도
                lat : 35.8013,
                lng : 127.0897
            };

        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center,
            mapId: "6d3a5ee9f0c7f908",
        });

        for (const museum of properties) {
            const advancedMarkerView = new google.maps.marker.AdvancedMarkerView({
                map,
                content: buildContent(museum),
                position: museum.position,
                title: museum.description,
                });
            const element = advancedMarkerView.element;

            ["focus", "pointerenter"].forEach((event) => {
                element.addEventListener(event, () => {
                    highlight(advancedMarkerView, museum);
                });
            });
            ["blur", "pointerleave"].forEach((event) => {
                element.addEventListener(event, () => {
                    unhighlight(advancedMarkerView, museum);
                });
            });
            advancedMarkerView.addListener("click", (event) => {
                unhighlight(advancedMarkerView, museum);
            });
        }
    }


function highlight(markerView, museum) {
  markerView.content.classList.add("highlight");
  markerView.element.style.zIndex = 1;
}

function unhighlight(markerView, museum) {
  markerView.content.classList.remove("highlight");
  markerView.element.style.zIndex = "";
}

function buildContent(museum) {
  const content = document.createElement("div");

  content.classList.add("museum");
  content.innerHTML = `
    <div class="icon tp-${museum.type}">
        <i aria-hidden="true" class="fa-solid fa-${museum.icon}" title="museum"></i>
        <span class="fa-sr-only">박물관</span>
    </div>
    <div class="details">
        <div class="name">${museum.name}</div>
        <div class="address">${museum.address}</div>
        <div class="features">
        <div>
            <i aria-hidden="true" class="fa-solid fa-won-sign" title="price"></i>
            <span class="fa-sr-only">입장료: </span>
            <span>${museum.price}</span>
        </div>
        <div>
            <i aria-hidden="true" class="fa-solid fa-phone" title="number"></i>
            <span class="fa-sr-only">전화번호</span>
            <span>${museum.number}</span>
        </div>
        <div>
            <i aria-hidden="true" class="fa-regular fa-clock" title="hours"></i>
            <span class="fa-sr-only">운영시간 </span>
            <span>${museum.hours}</span>
        </div>
        </div>
    </div>
    `;
  return content;
}

    initMap(); // 선언즉시 맵 생성

	</script>
		
	</body>
	
</html>