@font-face {
  font-family: 'SANGJUGyeongcheonIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'SANGJUGyeongcheonIsland';
  background-color: #cddfd3;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
	font-weight: bold;
	font-size: 30px;
}

h1{
  font-size: 50px;
}

.top{
	margin: 80px 0px 10px 0px ;
	text-align: center;
}

.sch{
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
}

.form{
	margin: 0 0 2em 0;
}

a{
  text-decoration: none;
  color:#6e3200;
  margin: 0 10px 0 10px;
}

.search{
  font-size: 15px;
	text-align: center;
	margin: 40px 0 20px 50px;
}

.search input{
  width: 300px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  border: none;
  box-shadow: 0px 0px 5px #444;
}

.search button{
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 0 10px 10px 0;
  margin-left:-3px;
  background-color: #27633b;
  box-shadow: 1px 0px 5px 0px #444;
}

.result{
	text-align: center;
	margin: 0 0 2em 0;
}

.mm{
  text-align: center;
  line-height: 20px;
}

.mys{
  font-family: 'SANGJUGyeongcheonIsland';
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

.myll{
  font-family: 'Geogia';
  font-size: 10px;
  text-align: center;
}
.re{
  text-align: center;
  margin-left: 450px;
}

.re input{
  display: none;
}

.re label{
  margin: 0 0 0 10px ;
}

input[type='radio'] + label{
  font-family: 'SANGJUGyeongcheonIsland';
  font-size: 15px;
  text-align: center;
  background-color: #cddfd3;
  color:#5c676d;
  border:none;
}

input[type='radio']:checked + label{
  color:#000000;
}


#floating-panel {
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
  margin: 20px auto;
}

.data input{
  width: 310px;
  height: 25px;
  font-size: 15px;
  background-color: #cddfd3;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #666666;
}

.data p{
  font-family: 'SANGJUGyeongcheonIsland';
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 5px;
}

.left{
  text-align: right;
}

:root {
  --natureColor: #558B2F;
  --historyColor: #0e1da7;
  --otherColor: #7B1FA2;
  --foodColor: #d1b202;
}

#map {
	border: 1px solid black;
	width: 800px;
	height: 500px;
  margin: 3rem auto;
}

.museumd {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px;
  justify-content: center;
  padding: 4px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px;
}

.museumd::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
}

.museumd .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.museumd .icon svg {
  height: 20px;
  width: auto;
}

.museumd .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

.museumd .address {
  color: #9E9E9E;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.museumd .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.museumd .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
}


.museumd.highlight {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 8px 15px;
  width: auto;
}

.museumd.highlight::after {
  border-top: 9px solid #FFFFFF;
}

.museumd.highlight .details {
  display: flex;
}

.museumd.highlight .icon svg {
  width: 50px;
  height: 50px;
}



/*
 * Nature icon colors.
 */
 .museumd.highlight:has(.tp-nature) .icon {
  color: var(--natureColor);
}

.museumd:not(.highlight):has(.tp-nature) {
  background-color: var(--natureColor);
}

.museumd:not(.highlight):has(.tp-nature)::after {
  border-top: 9px solid var(--natureColor);
}

/*
 * History icon colors.
 */
 .museumd.highlight:has(.tp-history) .icon {
  color: var(--historyColor);
}

.museumd:not(.highlight):has(.tp-history) {
  background-color: var(--historyColor);
}

.museumd:not(.highlight):has(.tp-history)::after {
  border-top: 9px solid var(--historyColor);
}

/*
 * Food icon colors.
 */
 .museumd.highlight:has(.tp-food) .icon {
  color: var(--foodColor);
}

.museumd:not(.highlight):has(.tp-food) {
  background-color: var(--foodColor);
}

.museumd:not(.highlight):has(.tp-food)::after {
  border-top: 9px solid var(--foodColor);
}

/*
 * Other icon colors.
 */
 .museumd.highlight:has(.tp-other) .icon {
  color: var(--otherColor);
}

.museumd:not(.highlight):has(.tp-other) {
  background-color: var(--otherColor);
}

.museumd:not(.highlight):has(.tp-other)::after {
  border-top: 9px solid var(--otherColor);
}